page-chat {
  .innerMessage {
    display: inline-block;
    padding: 5px 10px;
    background: #ffad41;
    color: white;
    border-radius: 3px;
    margin: 5px;
    overflow: hidden;
  }
  #welcome{
    font-size: 12px;
    color: grey;
    text-align: center;
    margin-bottom: 14px;
  }
  .innerMessage.messageRight{
    background: #ff6e3b ;
  }
  .elem button {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .elem {
    position: relative;
    min-width: 50px;
  }
  div#footer div.elem:first-child {
    flex-grow: 1;
  }
  div#footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: white;
    height: 50px;
  }
  ion-input{
    padding-left: 15px;

  }
  .message:after {
    content: '';
    display: block;
    clear: both;
  }
  .messageLeft {
    float: left;
  }
  .messageRight {
    float: right;
  }
  .toolbar-background {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
  }
  #icon-burger{
    color: white;
  }
  .toolbar-title{
    color: white;
  }
  .content{
    background: url("../../assets/imgs/bg.png");
    background-size: cover;
  }
}
