<ion-menu id="myMenu" [content]="content" type="overlay" side="">
  <ion-header>
    <ion-toolbar>
      <ion-title>Toopy</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="content-menu">

    <ion-list>
      <div id="profile-picture">
        <ion-spinner *ngIf="upload" name="crescent"></ion-spinner>
        <img *ngIf="!upload" (click)="getImage()" src="{{currentUser.photoUrl}}" alt="">
      </div>


      <div id="username">{{currentUser.username}}</div>
      <div id="theme">Theme : {{currentUser.theme}}</div>
      <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
        {{page.title}}
      </button>
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
