users-chat {
  #background-users-chat{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 430px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    background-image: linear-gradient(to bottom, #ff747d, #ffad41);
  }
  #users-chat{
    width: 100%;
    height: 430px;
  }
  #content-users{
    z-index: 3;
    padding: 50px 50px 0 50px;
    color: white;
    position: absolute;
    width: 100%;
    height: 438px;
    #users-list{
      column-count: 2;
      text-align: center;
      font-size: 16px;
      height: 180px;
      #isFavoriteRequest{
         margin: 0;
         font-weight: 600;
       }
      span{
        .favoriteRequestNotif{
          width: 10px;
          height: 10px;
          background: red;
        }
      }
      .user{
        margin-bottom: 15px;
      }
    }
    #user-focus-mode{
      p{
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
        padding-top: 30px;
      }
      #close{
        font-size: 60px;
        position: absolute;
        right: 50px;
      }
      .favorite{
        position: relative;
        font-size: 30px;
        margin-top: 20px;
        .not-favorite {
          width: 25px;
          height: 25px;
          background: url("../../assets/icon/add.png");
          background-size: contain;
          margin: 0 auto;
        }
        .favorite-icon {
          width: 65px;
          height: 35px;
          background: url("../../assets/icon/favorite.png");
          background-size: contain;
          margin: 0 auto;
        }
        .await-favorite {
          width: 65px;
          height: 35px;
          background: url("../../assets/icon/await-favorite.png");
          background-size: contain;
          margin: 0 auto;
        }
      }
      #picture{
          width: 150px;
          height: 150px;
          border-radius: 100px;
          margin: 20px auto 0 auto;
        img{
          width: 150px;
          height: 150px;
          border-radius: 100px;
        }
      }
    }
  }
  #content-swipe{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 130px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  #icon-group{
    width: 20px;
    height: 20px;
    background: url("../../assets/icon/icon_groupe.png");
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #button-users-chat{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    background: yellow;
  }
}
