<!-- Generated template for the UsersChatComponent component -->
  <div id="users-chat">
    <div  id="background-users-chat" [@openClose]="isOpen ? 'open' : 'closed'" [style.top.px]="calculatedTop"></div>
    <div id="content-users" [@openClose]="{value: isOpen ? 'open' : 'closed', calculatedTop : calculatedTop}" [style.top.px]="calculatedTop">
      <div id="users-list">
        <div *ngFor="let user of users">
          {{user.name}}
        </div>
      </div>
      <div id="bottom-users-chat"></div>
      <div id="icon-group" (click)="toggle()"></div>
  </div>
</div>
