<!-- Generated template for the UsersChatComponent component -->
  <div id="users-chat">
      <div  id="background-users-chat" [@openClose]="isOpen ? 'open' : 'closed'" [style.top.px]="calculatedTop"></div>
      <div id="content-users" swipeAll (swipeup)="swipeUp()" [@openClose]="{value: isOpen ? 'open' : 'closed', calculatedTop : calculatedTop}" [style.top.px]="calculatedTop">
        <div id="users-chat-mode" *ngIf="!userFocus">
          <div id="users-list">
            <div (click)="focusUser(user)" *ngFor="let user of users">
              {{user.username}}
            </div>
          </div>
        </div>
        <div id="user-focus-mode" *ngIf="userFocus">
          <ion-icon id="close" (click)="closeFocusUser()" name="close"></ion-icon>
          <p>{{selectedUser.username}}</p>
          <div id="picture"></div>
          <ion-icon *ngIf="!favorite" class="favorite" name="star-outline" (click)="onAddFavorite(selectedUser)"></ion-icon>
          <ion-icon *ngIf="favorite" class="favorite" name="star" (click)="onRemoveFavorite(selectedUser)"></ion-icon>
        </div>
        <timer [hidden]="userFocus"></timer>
      <div id="content-swipe" swipeAll (swipedown)="swipeDown()"></div>
      <div id="icon-group" (click)="toggle()"></div>
  </div>
</div>
